:root{
  --light: #f2f2f2;
  --lighty: #fce3bb;
  --o1: #823303;
  --o2: #ac540e;
  --o3: #ce782c;
  --g1: #0e1803;
  --g2: #172404;
  --g3: #324201;
  --g4: #627806;
  --dark: #1d1b26;
  --darker: #1e1c1c;
  --darks: #36454f;
  --darkslate: #3d4849;
  --darkN:#06191d;
  --black:#000002;
}

  
  body {
    margin: 0;
    padding: 0;
    font-family: unna;
    background:  var(--black);
    overflow-x: hidden;
    }
  