:root{
  --light: #f2f2f2;
  --lighty: #fce3bb;
  --o1: #823303;
  --o2: #ac540e;
  --o3: #ce782c;
  --g1: #0e1803;
  --g2: #172404;
  --g3: #324201;
  --g4: #627806;
  --dark: #1d1b26;
  --darker: #1e1c1c;
  --darks: #36454f;
  --darkslate: #3d4849;
  --darkN:#06191d;
  --black:#000002;
}

.card{
width: 35vw;
height: 20vh;
padding: 10px;
margin: 20px;
flex-direction:row;
justify-content:space-between;
}

.img-container{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.content{
  width: 100%;
  display:block;
  text-align: center;
}

.card ul{
  list-style: none;
}